<section style="width: 100%; padding: 3rem; background: #1d1d1d; color: white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="title-footer">
          CONTACT
        </div>
        <div class="title-footer">
          <a href="tel:+41%2044%20687%208394" target="_blank">TEL: +41 44 687 8394</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="title-footer">
          ADDRESS
        </div>
        <div class="title-footer">
          BREC SA
        </div>
        <div class="title-footer">
          Rue Pedro Meylan 1
        </div>
        <div class="title-footer">
          1208 Genève Switzerland
        </div>
      </div>
      <div class="col-md-4">
        <div class="title-footer">
          B R E C
        </div>
        <div class="title-footer">
          <p>BROKERAGE AND REAL ESTATES CONSULTING</p>
        </div>
      </div>
    </div>
  </div>
</section>
