<div style="padding: 7px;">
    <div class="container" >
      <div style="display: flex; justify-content: space-between;padding-top: 12px; border-radius: 8px;">
        <h5 > Edition/Ajout d'un acheteur </h5>

      </div>

      <!--<div class="contain-foto" style="display: flex;justify-content: center; margin-top: 30px;">
        <div class="upload" (click)="openFile()">
         <img *ngIf="url" [src]="url">
          <div style="text-align: center;padding-top: 45px;">
            <input #fileinput type="file" (change)="onSelectFile($event)" class="ng-hide">
            <mat-icon *ngIf="!url">add_a_photo</mat-icon>
          </div>
        </div>
      </div>-->
    </div>
    <form [formGroup]="buyerForm">
      <div style="margin-top: 70px; display: flex; flex-direction: column;">
        <mat-form-field appearance="outline">
          <mat-select (selectionChange)="onChangeCustomerType($event)"  placeholder="Type" formControlName="customerType">
            <mat-option [value]="crmConstants.CUSTOMER_TYPE_PRIVATE">Privé</mat-option>
            <mat-option [value]="crmConstants.CUSTOMER_TYPE_INSTITUTIONAL">Institutionnel</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Numéro</mat-label>
          <input type="text" matInput formControlName="phoneNumber" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" />
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Budget Min</mat-label>
          <input type='number'  formControlName="budgetMin" matInput/>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Budget Max</mat-label>
          <input type='number'  formControlName="budgetMax" matInput/>
        </mat-form-field>

        <mat-form-field *ngIf="cantons && cantons.length > 0" appearance="outline">
          <mat-label>Canton préférentiels</mat-label>
          <mat-select placeholder="Canton"
                      [value]="buyerForm.value.areasDesired"
                      formControlName="areasDesired" multiple>
            <mat-option *ngFor="let canton of cantons" [value]="canton.name">
              {{ canton.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field style="width: 100%" appearance="outline">
          <mat-select placeholder="Typologie immeuble"
                      [value]="buyerForm.value.typeProperty"
                      formControlName="typeProperty" multiple>
            <mat-option [value]="1">Logements</mat-option>
            <mat-option [value]="2">Bureaux</mat-option>
            <mat-option [value]="3"
            >Commerces/Centres commerciaux
            </mat-option
            >
            <mat-option [value]="4"
            >Industriel/Logistique/Artisanal
            </mat-option
            >
            <mat-option [value]="5">Hôtel/ApartHotel</mat-option>
            <mat-option [value]="6"
            >Clinique/EMS/Hôpital
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-select placeholder="Régime de l'immeuble"
                      [value]="buyerForm.value.propertyRegime"
                      formControlName="propertyRegime" multiple>
            <mat-option [value]="1">Société (Share Deal)</mat-option>
            <mat-option [value]="2">Nom (Asset Deal)</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Observations</mat-label>
          <textarea formControlName="comment" matInput></textarea>
        </mat-form-field>
        </div>
      </form>
      <button *ngIf="buyer && +buyer.id > 0 && showAddAgentButton" mat-raised-button color="primary" (click)="onAddAgentBuyer()">
        + Ajouter un représentant
      </button>
      <form [formGroup]="agentsBuyer">
        <div style="margin-top: .5rem" *ngFor="let agentBuyer of agentsBuyer.controls; index as i">
          <ng-container style="margin-bottom: .5rem" [formGroupName]="i">
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-label>Nom</mat-label>
              <input matInput formControlName="lastname"/>
            </mat-form-field>
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-label>Prénom</mat-label>
              <input matInput formControlName="firstname"/>
            </mat-form-field>
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email"/>
            </mat-form-field>
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-label>Téléphone</mat-label>
              <input matInput formControlName="phoneNumber"/>
            </mat-form-field>
            <button mat-raised-button color="warn" (click)="removeAgentBuyer(i)">Supprimer ce représentant</button>
          </ng-container>
        </div>
      </form>

      <div *ngIf="buyer && buyer.agentsBuyer && buyer.agentsBuyer.length > 0">
        <h5 style="margin-top: 1rem;">Représentant(s)</h5>
        <ul style="margin-left: 0; padding-left: 0">
          <li *ngFor="let agent of buyer.agentsBuyer">
            <div style="width: 100%; margin-top: 1rem; display: flex; justify-content: space-between">
              <div>
                <span style="display: block">
                  {{ agent.lastname | uppercase }} {{ agent.firstname }}
                </span>
                <span style="display: block; color: #666666; font-weight: 100">
                  {{ agent.email }}
                </span>
                <span style="display: block">
                  {{ agent.phoneNumber }}
                </span>
              </div>
              <div>
                <button mat-raised-button color="warn" (click)="onRemoveAgent(agent)">
                  <mat-icon>highlight_off</mat-icon>
                  <span>Supprimer</span>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div  style="display: flex;justify-content: space-between; margin-bottom: 20px;margin-top: 15px;">
        <div>
          <button mat-stroked-button color="primary" (click)='onSubmit()' >Save</button>
        </div>
      </div>
  </div>
