<div style="padding: 7px;">
    <div class="container" >
      <div style="display: flex; justify-content: space-between;padding-top: 12px; border-radius: 8px;">
        <h5 *ngIf="contact"> {{contact.name}} {{contact.lastName}} </h5>
        <h5 *ngIf="contact === undefined"> Nouveau contact</h5>


        <!--<img [src]="url" height="50" width="50" alt="">-->

      </div>

      <div class="contain-foto" style="display: flex;justify-content: center; margin-top: 30px;">
        <div class="upload" (click)="openFile()">
         <img *ngIf="url" [src]="url">
          <div style="text-align: center;padding-top: 45px;">
            <input #fileinput type="file" (change)="onSelectFile($event)" class="ng-hide">
            <mat-icon *ngIf="!url">add_a_photo</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <!--<mat-divider class="mt-6 mb-20"></mat-divider>-->
    <form [formGroup]="contactFormu">
      <div style="margin-top: 70px; display: flex; flex-direction: column;">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Type" formControlName="typeClient">
            <mat-option>Privé</mat-option>
            <mat-option>Institutionnel</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nom de société</mat-label>
          <input type="text" matInput formControlName="categoryClient" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Prénom</mat-label>
          <input type="text" matInput formControlName="lastName" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Numéro</mat-label>
          <input type="text" matInput formControlName="phone_number" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Pays</mat-label>
          <input type='text' matInput formControlName="country" matInput/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Ville</mat-label>
          <input type='text' matInput formControlName="city" matInput/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Adresse</mat-label>
          <input type='text' matInput formControlName="adress" matInput/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Budget</mat-label>
          <input type='number' matInput formControlName="budget" matInput/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Secteur géographique</mat-label>
          <input type='text' matInput formControlName="geographicSector" matInput/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-select placeholder="Type d'immeuble" formControlName="buildings">
            <mat-option>Logements</mat-option>
            <mat-option>Bureaux</mat-option>
            <mat-option>Commerces/Centres commerciaux</mat-option>
            <mat-option>Industriel/Logistique/Artisanal</mat-option>
            <mat-option>Hôtel/ApartHotel</mat-option>
            <mat-option>Cliniques/EMS/Hôpital</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-select placeholder="Régime de l'immeuble" formControlName="buildingRegime">
            <mat-option>Société(share deal)</mat-option>
            <mat-option>Nom(asset deal)</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" >
          <mat-label>Rendement en %</mat-label>
          <input type='text' matInput formControlName="yield" matInput/>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Observations</mat-label>
          <textarea formControlName="comments" matInput></textarea>
        </mat-form-field>
        </div>
      </form>
      <div *ngIf="contact" style="display: flex;justify-content: space-between; margin-bottom: 20px;margin-top: 15px;">

        <div>
          <button mat-stroked-button color="warn" >Delete</button>
          <!--<button [routerLink] = '[id]' mat-raised-button color='warn' style="margin-right: 7px;" (click)='deleteTask("id")'>delete</button>-->
        </div>
        <div>
          <button mat-stroked-button color="primary" (click)='onSubmit()' >Save</button>
          <!--<button [routerLink] = '[id]' mat-raised-button color='warn' style="margin-right: 7px;" (click)='deleteTask("id")'>delete</button>-->
        </div>

      </div>

      <div *ngIf="contact === undefined">


        <div style="text-align: right;">
          <button mat-stroked-button color="primary" (click)='onSubmit()' >Ajouter</button>
          <!--<button [routerLink] = '[id]' mat-raised-button color='warn' style="margin-right: 7px;" (click)='deleteTask("id")'>delete</button>-->
        </div>

      </div>

  </div>

  <!--<div *ngIf="detail">
    <h5>Mon contact</h5>

  </div>-->
