<!--<section class="container-fluid">-
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-heading">
          <h2 class="text-center">Collaborateurs</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-heading">
          <ul>
            <li *ngFor="let contact of contacts">
              <div style="width: 100%; display: flex;margin-bottom: .9rem ">
                <div style="width: 100%">
                  <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          {{ contact.name }}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div>
                        <mat-selection-list #shoes>
                          <mat-list-option>
                            {{contact.email}}
                          </mat-list-option>
                        </mat-selection-list>
                      </div>
                    </mat-expansion-panel>
                  </mat-accordion>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</section>-
<div class="container">
  <mat-form-field>
    <input matInput placeholder="Rechercher" (keyup)="updateFilter($event.target.value)" type="text"/>
  </mat-form-field>

  <table class="w-100" mat-table [dataSource]="dataSource" >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let contact"> {{contact.id}} </td>
    </ng-container>
    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let contact"> {{contact.name}} </td>
    </ng-container>

    <ng-container matColumnDef="prenom">
      <th mat-header-cell *matHeaderCellDef> Prénom </th>
      <td mat-cell *matCellDef="let contact"> {{contact.lastName}} </td>
    </ng-container>
    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef> Adresse </th>
      <td mat-cell *matCellDef="let contact"> {{contact.adress}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let contact"> {{contact.email}} </td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Tel </th>
      <td mat-cell *matCellDef="let contact"> {{contact.phone_number}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">




  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>-->
<div class="container-fluid">
  <div class="card">
    <div class="card-heading d-flex " style="justify-content: space-between; align-items: center">
      <div>
        <h2>Acheteurs</h2>
      </div>
      <div>
        <button
          (click)="affiche()"
          routerLink='new'
          mat-mini-fab
          [color]="'primary'"
        ><mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <mat-drawer-container>
    <mat-drawer
        [(opened)]="opened"
        (openedChange)="onChangeStateDrawer($event)"
        mode="over"
        [position]="'end'"
        [disableClose]="false">
      <router-outlet></router-outlet>
    </mat-drawer>
  <mat-drawer-content style="margin: 2rem">
    <div *ngIf="showSpinner" class="w-100 d-flex overflow-hidden">
      <div style="width: 100%; display: flex; height: 70vh; justify-content: center; align-items: center">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
    </div>
      <div *ngIf="!showSpinner" style="width: 100%; overflow: hidden">
        <form [formGroup]="searchForm">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <div>
                  <mat-form-field style="width: 100%" appearance="outline">
                    <mat-label>Id/Réf</mat-label>
                    <input
                      formControlName="id"
                      matInput
                      [autocomplete]="'off'"
                      placeholder="Rechercher"
                      type="text"/>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-3">
                <div>
                  <mat-form-field style="width: 100%" appearance="outline">
                    <mat-label>Nom</mat-label>
                    <input
                      formControlName="name"
                      matInput
                      [autocomplete]="'off'"
                      placeholder="Nom"
                      type="text"/>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-3">
                <div>
                  <mat-form-field style="width: 100%" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input
                      formControlName="email"
                      matInput
                      [autocomplete]="'off'"
                      placeholder="Rechercher"
                      type="text"/>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-3">
                <div>
                  <mat-form-field style="width: 100%" appearance="outline">
                    <mat-label>Téléphone</mat-label>
                    <input
                      formControlName="phoneNumber"
                      matInput
                      [autocomplete]="'off'"
                      placeholder="Rechercher"
                      type="text"/>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field style="width: 100%" appearance="outline">
                  <mat-label>Budget</mat-label>
                  <input
                    mask="separator"
                    thousandSeparator="."
                    formControlName="budget"
                    matInput
                    [autocomplete]="'off'"
                    placeholder="Rechercher"
                    type="text"/>
                </mat-form-field>
              </div>
              <!--<div class="col-md-4">
                <div>
                  <mat-form-field style="width: 100%" appearance="outline">
                    <mat-label>Secteur(s) préférentiel(s)</mat-label>
                    <input
                      formControlName="areasDesired"
                      matInput
                      [autocomplete]="'off'"
                      placeholder="Rechercher"
                      type="text"/>
                  </mat-form-field>
                </div>
              </div>-->
              <div class="col-md-6">
                <mat-form-field style="width: 100%" appearance="outline">
                  <mat-select placeholder="Typologie immeuble"
                              formControlName="typeProperty">
                    <mat-option [value]="null">Aucune</mat-option>
                    <mat-option [value]="crmConstants.TYPE_PROPERTY.LODGING.value">Logements</mat-option>
                    <mat-option [value]="crmConstants.TYPE_PROPERTY.BUREAU.value">Bureaux</mat-option>
                    <mat-option [value]="crmConstants.TYPE_PROPERTY.SHOP.value"
                    >Commerces/Centres commerciaux
                    </mat-option
                    >
                    <mat-option [value]="crmConstants.TYPE_PROPERTY.INDUSTRIAL_LOGISTICS_ARTISANAL.value"
                    >Industriel/Logistique/Artisanal
                    </mat-option
                    >
                    <mat-option [value]="crmConstants.TYPE_PROPERTY.HOTEL.value">Hôtel/ApartHotel</mat-option>
                    <mat-option [value]="crmConstants.TYPE_PROPERTY.HOSPITAL.value"
                    >Clinique/EMS/Hôpital
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <button mat-raised-button color="primary" class="mb-3" (click)="onSubmit()">Ok</button>
          <button *ngIf="showCancelButton" style="float: right" mat-raised-button color="accent" (click)="onCancelFilter()">Annuler</button>
        </form>
        </div>
        <div style="display: flex;gap: 15px;">
      <div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 mt-3 mb-3">
              <mat-radio-group color="primary" aria-label="Select an option">
                <mat-radio-button class="mr-2" (change)="onUpdateFilter('private')" value="private">
                  <mat-icon>
                    person_outline
                  </mat-icon>
                  <span>
                    Privés
                  </span>
                </mat-radio-button>
                <mat-radio-button class="mr-2" (change)="onUpdateFilter('all')" [checked]="showAllBuyers" value="all">Privés et Institutionnels</mat-radio-button>
                <mat-radio-button (change)="onUpdateFilter('institutional')" value="institutional">
                  <mat-icon>
                    home_work
                  </mat-icon>
                  <span>Institutionnels</span>
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </div>
      </div>
      <div class="file-upload">
        <button
          mat-mini-fab
          [color]="'basic'"
        >
          <label id="selector-files" for="input-file-id">
            <mat-icon style="cursor: pointer" class="material-icons">
              attach_file
            </mat-icon>
          </label>
          <input
            (change)="addFiles($event)"
            class="ng-hide"
            accept="image/*"
            id="input-file-id"
            multiple
            type="file"
          />
        </button>
      </div>
    </div>
    <div class="files">
      <div class="file" *ngFor="let file of fileHolders$ | async; let i = index" style="display: flex; justify-content: space-between;">
        <span> {{file.name}} </span>
        <mat-icon (click)="removeFile(i)">clear</mat-icon>
      </div>
    </div>
    <div *ngIf="showSpinner" class="w-100 d-flex overflow-hidden">
      <div style="width: 100%; display: flex; height: 70vh; justify-content: center; align-items: center">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
    </div>

    <div *ngIf="buyers && buyers.length > 0" class="mt-2 mb-0">
      <mat-form-field color="primary" appearance="outline">
        <mat-label>
          Recherche rapide
        </mat-label>
        <input type="text"
               [autocomplete]="'off'"
               matInput
               [formControl]="searchFastCtrl" >
      </mat-form-field>
    </div>


    <ng-container *ngIf="showSpinner">
      <div class="w-100 h-100 d-flex justify-content-center align-items-center">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
    </ng-container>

    <ng-container *ngIf="!showSpinner">
      <div *ngIf="buyers && buyers.length > 0" class="contacts" style="margin-top:30px;">
        <mat-divider></mat-divider>
        <div class="container-fluid">
          <div class="row">
              <div *ngFor="let buyer of buyers | filter: research let index = index" class="col-4">
                <mat-list>
                <mat-list-item style="margin-bottom: 15px;cursor: pointer;"  (click)='afficheAutre(buyer)'>
                  <div style="display: flex;gap: 15px;">
                    <mat-icon>
                      {{buyer.customerType === crmConstants.CUSTOMER_TYPE_INSTITUTIONAL ? 'home_work' : 'person_outline'}}
                    </mat-icon>
                    <p>{{buyer.name}}</p>
                  </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                </mat-list>
              </div>
          </div>
        </div>
      </div>
    </ng-container>
    </mat-drawer-content>
    </mat-drawer-container>
</div>









