
<section class="w-100 overflow-hidden">
  <h4 class="text-center">Calendrier</h4>
  <div style="display: flex;justify-content: space-around;width: 100%;padding: 1rem;background: white;margin: 1rem 0;">
    <div *ngFor="let user of users">
      <div style="display: flex;justify-content: center;align-items: center;">
        <span  [style]="{
        'height': '10px',
        'width': '10px',
        'margin-right': '3px',
        'border-radius': '3px',
        'padding': '.5rem',
        'background-color': user.calendarColor }"></span>
        <span>{{ user.email.split('@')[0] | uppercase }}</span>
      </div>
    </div>
  </div>
</section>

<div class='demo-app'>
  <div class='demo-app-main'>
    <full-calendar
      #fullCalendarT
      *ngIf="calendarVisible"
      [options]="calendarOptions"
      deepChangeDetection="true"
    ></full-calendar>
  </div>
  <swal
    #confirmSwal
    title="Enregistrer cet évènement ?"
    inputLabel="Message"
    [input]="'text'"
    [inputPlaceholder]="'exemple rdv avec notaire'"
    icon="question"
    [inputOptions]="optionsPriority"
    [showCancelButton]="true"
    [focusCancel]="true"
  >
    <!--(confirm)="onAddEvent(selectInfo, $event)">-->
  </swal>

</div>
