<section class="container-fluid">
  <div class="card">
    <div class="card-heading">
      <h2 class="text-center">Annonces</h2>
    </div>
  </div>

    <div class="container" >
      <div>
        <mat-form-field>
          <input matInput placeholder="Rechercher" (keyup)="updateFilter($event.target.value)" type="text"/>
        </mat-form-field>

      </div>

      <div>
        <button style="margin-left: 25px;" (click)="openDialog()" mat-mini-fab color="primary">
          <mat-icon >add</mat-icon>

      </button>
      </div>


    </div>
        <table style="width: 100%;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let ad"> {{ad.id}} </td>

          </ng-container>


          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let ad"> {{ad.title}} </td>
          </ng-container>


          <!--<ng-container matColumnDef="dsecription">
            <th mat-header-cell *matHeaderCellDef> dsecription </th>
            <td mat-cell *matCellDef="let ad"> {{ad.comment}} </td>
          </ng-container>-->


          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let ad"> {{ad.sellingPrice}} </td>
          </ng-container>
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let ad"> {{ad.image}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </table>
        <!--<mat-paginator style="margin-bottom: 30px;" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>-->
        <!--<mat-divider style="" class="p-05"></mat-divider>
    <div *ngIf="ads"  class="container-fluid">
      <div class="row">

        <div *ngFor="let ad of ads" class="col-md-6">-->
          <!--<mat-card  class="">-->

            <!--<mat-expansion-panel style="margin-bottom: 5px;">
              <mat-expansion-panel-header>-->
                <!--<div mat-card-avatar class="example-header-image"></div>-->
                  <!--<mat-panel-title>{{ ad.title }}</mat-panel-title>

                  </mat-expansion-panel-header>
                <mat-panel-description>
                  <div [class]="ad.comment > 20 ? 'limit-character' : ''">
                    <p>{{ad.comment}}description</p>
                    <p>{{ad.city}}Paris</p>
                  </div>
                </mat-panel-description>
                <mat-action-row style="text-align: right; position: absolute;bottom: 12px;right: 5px;">
                  <button (click)="onUpdateAd(ad)" mat-mini-fab color="blue"><span class="material-icons-outlined">
                    edit
                    </span></button>
                  <button mat-mini-fab color="warn"><span class="material-icons-outlined">
                    delete
                    </span>
                  </button>
                </mat-action-row>
            </mat-expansion-panel>-->

            <!--<mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{ ad.title }}</mat-card-title>
              <mat-card-subtitle>{{ ad.comment }}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div [class]="ad.description > 20 ? 'limit-character' : ''">
                <p>
                  {{ad.description}}
                </p>
              </div>
            </mat-card-content>
            <mat-card-actions style="text-align: right; position: absolute;bottom: 12px;right: 5px;">
              <button (click)="onUpdateAd(ad)" mat-raised-button color="primary">Modifier</button>
              <button mat-raised-button color="warn">Supprimer</button>
            </mat-card-actions>
          </mat-card>-->
        <!--</div>

      </div>
    </div>-->
</section>
