
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.container {
  padding: 1rem;
}

.p-05 {
  padding: 1rem;
}

.mat-card-header .mat-card-title {
  font-size: small;
}


.mat-card {
  height: 130px;
  margin: .5rem;
}

.limit-character {
  height: 120px;
  overflow: auto;
}
