<section class="container">
    <div style="padding-top: 1rem; padding-bottom: 1rem">
        <button (click)="openDialog()" mat-raised-button color="primary">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">add</mat-icon>
            AJOUTER UNE ANNONCE
        </button>
    </div>


    <mat-divider style="" class="p-05"></mat-divider>

    <div *ngIf="ads"  class="container-card">
        <mat-card *ngFor="let ad of ads" class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{ ad.title }}</mat-card-title>
                <mat-card-subtitle>{{ ad.comment }}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    {{ad.description}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>

</section>
