<div>
<section id="login" class="wrapper-login">
  <h3 style="text-align: center;">BREC</h3>
  <h6>Connexion</h6>
<div class="alert alert-danger mt-10" *ngIf="error">
  <strong>login ou mot de passe incorrect</strong>
</div>
    <form [formGroup]="loginForm">
    <div>
      <mat-form-field  style="width: 100%">


        <mat-label>Email</mat-label>
        <input formControlName="email"
          matInput placeholder="Email"/>

        <!--<mat-hint *ngIf="f.email.errors">
          Email obligatoire
        </mat-hint>-->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field style="width: 100%">

        <mat-label>Password</mat-label>

        <input formControlName="password"
               type="password"
          matInput/>

        <!--<mat-hint *ngIf="f.email.errors.required">
          Mot de passe obligatoire
        </mat-hint>-->
      </mat-form-field>
    </div>
    <div><a href="">Mot de passe oublié ?</a></div>
   <!----<div class="mt-3 mb-3">
      <button type="submit" mat-raised-button color="primary">Se connecter</button>
    </div>-->

  <div style="margin-top: 15px;"><button  mat-raised-button color="primary" (click)="onLoggedin()">Se connecter</button></div>
</form>
</section>


