<section style="position:relative;" class="w-100 overflow-hidden">

  <div style="padding: 1rem 0; margin: 1rem 0" class="container-fluid">
    <div class="spinner-container" style="min-height: 100vh; display: flex; justify-content: center; align-items: center; width: 100%" *ngIf="showSpinner">
      <mat-spinner [diameter]="20"></mat-spinner>
    </div>
    <form [formGroup]="searchForm">
      <h4>Rechercher par</h4>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Id/rèf</mat-label>
            <input type="text" matInput
                   formControlName="id"/>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Nom</mat-label>
            <input type="text" matInput
                   formControlName="name"/>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field style="width: 100%" appearance="outline">
            <mat-label>Ville</mat-label>
            <input type="text" matInput
                   formControlName="city"/>
          </mat-form-field>
        </div>
      </div>
        <div class="row">
          <div class="col-md-3">
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-label>Canton</mat-label>
              <input type="text" matInput
                     formControlName="canton"/>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-label>Rue, avenue...</mat-label>
              <input type="text" matInput
                     formControlName="street"/>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-select placeholder="Typologie immeuble"
                          formControlName="typeProperty" multiple>
                <mat-option [value]="null">Type</mat-option>
                <mat-option [value]="1">Logements</mat-option>
                <mat-option [value]="2">Bureaux</mat-option>
                <mat-option [value]="3"
                >Commerces/Centres commerciaux
                </mat-option
                >
                <mat-option [value]="4"
                >Industriel/Logistique/Artisanal
                </mat-option
                >
                <mat-option [value]="5">Hôtel/ApartHotel</mat-option>
                <mat-option [value]="6"
                >Clinique/EMS/Hôpital
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div style="display: flex; justify-content: space-between; align-items: center" class="col-md-3">
            <button mat-raised-button (click)="onSubmit()" color="primary">
              Chercher
            </button>
            <button mat-raised-button *ngIf="showCancelButton" (click)="onCancelFilter()" color="warn">
              Annuler
            </button>
          </div>
        </div>
    </form>
    <div style="margin: 1rem">
      <button mat-raised-button color="primary" (click)="onAddProperty()">
        + Ajouter
      </button>
    </div>
    <div style="position: relative" class="row" *ngIf="prospects && prospects.length > 0">
      <div style="position: fixed;right: 1px;bottom: 4rem;z-index: 1500 !important;">
        <button (click)="scrollTop()" mat-fab color="primary">
          <mat-icon>
            expand_less
          </mat-icon>
        </button>
      </div>
      <div class="col-md-12">
        <table #table style="width: 100%; z-index: 1 !important;" mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="buyer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Acheteur</th>
            <td style="font-size: smaller" mat-cell *matCellDef="let data">
              <mat-checkbox color="primary" [checked]="data.ownerIsBuyer"  (change)="onChangeBuyerState($event, data)"></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Réf/Id</th>
            <td style="font-size: smaller" mat-cell *matCellDef="let data"> {{data.id}} </td>
          </ng-container>
          <ng-container matColumnDef="Commune">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Commune</th>
            <td style="font-size: smaller" mat-cell *matCellDef="let data"> {{data.city}} </td>
          </ng-container>
          <ng-container matColumnDef="Typologie">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Typologie</th>
            <td style="font-size: smaller" mat-cell *matCellDef="let data"> {{data.labelPropertyType}} </td>
          </ng-container>
          <ng-container matColumnDef="Adresse">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresse</th>
            <td style="font-size: smaller" mat-cell *matCellDef="let data"> {{data.street}} </td>
          </ng-container>
          <ng-container matColumnDef="Propriétaire">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Propriétaire</th>
            <td style="font-size: smaller" mat-cell *matCellDef="let data"> <div [innerText]="data.owners"></div> </td>
          </ng-container>
          <ng-container matColumnDef="Numéro">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Numéro</th>
            <td style="font-size: smaller" mat-cell *matCellDef="let data"> <div [innerText]="data.phoneNumber"></div> </td>
          </ng-container>
          <ng-container matColumnDef="Observations">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 220px;">Observations</th>
            <td style="font-size: smaller" mat-cell *matCellDef="let data"> {{data.comment}} </td>
          </ng-container>
          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 70px;">Status</th>
            <td style="font-size: smaller" mat-cell *matCellDef="let data"> <!--<mat-icon style="cursor: pointer;" [matMenuTriggerFor]="menu">arrow_drop_down</mat-icon>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>En cours</button>
              <button mat-menu-item>Terminée</button>
            </mat-menu>-->

              <mat-form-field class="no-padding" style="width: 100px;" appearance="outline">
                <mat-select (selectionChange)="onChangeStatus($event, data)" [value]="data.status" placeholder="Statut">
                  <mat-option [value]="null">None</mat-option>
                  <mat-option [value]="crmConstants.CODE_PROPERTY_STATUS_NOT_FOR_SALE">Pas vendeur</mat-option>
                  <mat-option [value]="crmConstants.CODE_PROPERTY_STATUS_OPEN">Ouvert</mat-option>
                  <mat-option [value]="crmConstants.CODE_PROPERTY_STATUS_SELLER">Vendeur</mat-option>
                  <mat-option [value]="crmConstants.CODE_PROPERTY_STATUS_SOLD">Vendu</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <ng-container matColumnDef="Géo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: auto;">Géo</th>
            <td style="font-size: smaller" mat-cell *matCellDef="let data">
              <mat-icon style="color: orange; cursor:pointer; " (click)="onOpenGeo(data)">place</mat-icon>
            </td>
          </ng-container>


          <ng-container matColumnDef="Canton">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: auto">Canton</th>
            <td style="font-size: smaller" mat-cell *matCellDef="let data">
              {{ data.canton }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: auto">Action</th>
            <td style="font-size: smaller" mat-cell *matCellDef="let data">
              <div style="justify-content: center; align-items: center" class="d-flex">
                <div style="margin: .5rem" class="edit-property">
                  <button style="width: 35px; height: 35px" (click)="onAddProperty(data)" mat-fab color="accent">
                    <mat-icon style="color: white;">create</mat-icon>
                  </button>
                </div>
                <div class="edit-property">
                  <button style="width: 35px; height: 35px" (click)="onShowProperty(data)" mat-fab color="primary">
                    <mat-icon style="color: white;">visibility</mat-icon>
                  </button>
                </div>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row
              style="font-size: smaller !important;"
              [ngClass]="{
              'background-status': !row.status,
              'background-status-open': +row.status == crmConstants.CODE_PROPERTY_STATUS_OPEN,
              'background-status-seller': +row.status == crmConstants.CODE_PROPERTY_STATUS_SELLER,
              'background-status-sold': +row.status == crmConstants.CODE_PROPERTY_STATUS_SOLD,
              'background-status-not-for-sale': +row.status == crmConstants.CODE_PROPERTY_STATUS_NOT_FOR_SALE
              }"
              *matRowDef="let row; columns: displayedColumns;">
        </table>
        <mat-paginator
          [pageSize]="isSearch ? pageIndex : 100"
          (page)="handlePageEvent($event)"
          [length]="nbResults"
          [pageIndex]="pageIndex"
          [pageSizeOptions]="[100]" ></mat-paginator>
<!--
          [pageSizeOptions]="[150]" showFirstLastButtons></mat-paginator>
-->
      </div>
    </div>
  </div>
</section>
