<div mat-dialog-content>
  <form [formGroup]="offerForm" >
      <div style= "display: flex; flex-direction: column;">
        <mat-form-field appearance="fill">
          <mat-label>Nom de l'offre</mat-label>
          <input type="text" matInput formControlName="offer" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Nom acheteur</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Prénom acheteur</mat-label>
          <input type="text" matInput formControlName="lastName" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Montant de la vente</mat-label>
          <input type="number" matInput formControlName="amount" />
        </mat-form-field>

        <mat-form-field  appearance="outline">
          <mat-label>Montant de la commission</mat-label>
          <input type="number" matInput formControlName="commission" />
        </mat-form-field>

        <div *ngFor="let potentialBuyer of buyersForm.controls; index as i">
          <ng-container [formGroupName]="i">
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-select placeholder="Type d'acheteur"
                          formControlName="customerType">
                <mat-option [value]="1">
                  Particulier
                </mat-option>
                <mat-option [value]="2">
                  Société
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field  appearance="outline">
              <mat-label>Nom de l'acheteur</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
            <mat-form-field  appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
            </mat-form-field>
            <mat-form-field  appearance="outline">
              <mat-label>Budget min.</mat-label>
              <input matInput type="number" formControlName="budgetMax" />
            </mat-form-field>
            <mat-form-field  appearance="outline">
              <mat-label>Budget max.</mat-label>
              <input matInput type="number" formControlName="budgetMax" />
            </mat-form-field>
            <button (click)="removeBuyer(i)">X</button>
          </ng-container>
        </div>
        <div>
          <button mat-raised-button color="primary" >
            + Ajouter un acheteur
          </button>
        </div>
    </div>
  </form>
  <div style="text-align: right; margin-bottom: 20px;">
    <button mat-raised-button color="primary" (click)="onSubmit()" >Envoyer</button>
  </div>
</div>

