<div mat-dialog-content>
  <form [formGroup]="offerForm" >
      <div style= "display: flex; flex-direction: column;">
        <mat-form-field appearance="fill">
          <mat-label>Nom de l'offre</mat-label>
          <input type="text" matInput formControlName="offer" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Nom acheteur</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Prénom acheteur</mat-label>
          <input type="text" matInput formControlName="lastName" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Montant de la vente</mat-label>
          <input type="number" matInput formControlName="amount" />
        </mat-form-field>

        <mat-form-field  appearance="outline">
          <mat-label>Montant de la commission</mat-label>
          <input type="number" matInput formControlName="commission" />
        </mat-form-field>
    </div>
  </form>
  <div style="text-align: right; margin-bottom: 20px;">
    <button mat-raised-button color="primary" (click)="onSubmit()" >Envoyer</button>
  </div>
</div>

