<div mat-dialog-content style="font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif">
  <div style="justify-content: end" class="w-100 d-flex">
    <button mat-raised-button (click)="onCloseModal()" color="warn">Fermer</button>
  </div>
  <mat-horizontal-stepper
    style="background: #fff; padding: 1rem"
    [linear]="true"
    #stepper
  >
    <mat-step [stepControl]="offerForm">
      <ng-template matStepLabel>Offre</ng-template>
      <div *ngIf="offer && offer.id && +offer.id > 0">
        <button (click)="onRemoveOffer(offer.id)" mat-raised-button color="warn">
          Supprimer cette offre
        </button>
      </div>
      <form [formGroup]="offerForm">
      <h4>Information relative à cette offre</h4>
      <mat-form-field style="width: 100%" appearance="outline">
        <mat-label>Titre</mat-label>
        <input type="text"
               matInput
               formControlName="title"/>
      </mat-form-field>
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Prix de vente</mat-label>
          <input type="text"
                 matInput
                 mask="separator"
                 thousandSeparator="."
                 formControlName="sellingPropositionPrice"/>
        </mat-form-field>
      </form>
        <div style="margin-top: 40px; text-align: right">
          <button
            [disabled]="offerForm.invalid"
            mat-raised-button
            color="primary"
            matStepperNext
          >
            Suivant
          </button>
        </div>
    </mat-step>
    <mat-step [completed]="offer.property.id > 0">
      <ng-template matStepLabel>La propriété à vendre</ng-template>
      <!--Find property on db-->
      <mat-form-field class="w-100" style="width: 100%" appearance="outline">
        <mat-label>Chercher via le nom d'un propriétaire</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Propriétaire"
               matInput
               [formControl]="ownerNameCtrl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (selectionchange)="onChange($event)" [displayWith]="displayFn">
          <mat-option *ngIf="isLoading" class="is-loading">
            <mat-spinner diameter="20"></mat-spinner>
          </mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option
              (click)="onChange(option)"
              *ngFor="let option of filteredOptions"
              [value]="option">
              <div
                style="width: 100%;
                  overflow: hidden">
                  <span style="font-size: small">
                    id:
                    <b>{{ option.id }}</b>
                  </span>
                  <span style="color: #666; font-size: small; padding-right: .3rem; font-style: italic">
                    {{ option.street }}, {{ option.city }}
                  </span>
                <span>
                    {{ option.owners }}
                  </span>
              </div>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>
      <app-property-detail
        [isOnOfferModal]="true"
        (showNextButton)="onChangeStateButtonNext($event)"
        [property]="offer.property">
      </app-property-detail>
      <div style="display: flex; justify-content: space-between; margin-top: 1rem" >
        <div>
          <button mat-raised-button matStepperPrevious>Précédent</button>
        </div>
        <div>
          <button
            [disabled]="!enableNextButton"
            mat-raised-button
            color="primary"
            matStepperNext
            (click)="getPotentialBuyers()"
          >
            Suivant
          </button>
        </div>
      </div>
    </mat-step>
    <mat-step (click)="getPotentialBuyers()"
              [stepControl]="buyersForm">
      <ng-template matStepLabel>Match</ng-template>
      <form [formGroup]="buyersForm">
        <div *ngFor="let potentialBuyer of buyersForm.controls; index as i">
          <ng-container style="margin-bottom: .5rem" [formGroupName]="i">
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-select placeholder="Type d'acheteur"
                          formControlName="customerType">
                <mat-option [value]="1">
                  Particulier
                </mat-option>
                <mat-option [value]="2">
                  Société
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-label>Nom de l'acheteur</mat-label>
              <input matInput formControlName="name"/>
            </mat-form-field>
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email"/>
            </mat-form-field>
            <mat-form-field style="width: 100%" appearance="outline">
              <mat-label>Téléphone</mat-label>
              <input matInput formControlName="phoneNumber"/>
            </mat-form-field>
            <button mat-raised-button color="warn"  (click)="removeBuyer(i)">Supprimer</button>
          </ng-container>
        </div>
      </form>
      <div style="justify-content: space-between" class="d-flex">
        <div>
          <button mat-raised-button color="primary" (click)="addBuyer()">
            + Ajouter un acheteur
          </button>
        </div>
        <div>
          <div>
            <mat-slide-toggle [formControl]="sendMailBuyersCtrl" (toggleChange)="onSendMail()">Envoyer les mails</mat-slide-toggle>
          </div>
        </div>
      </div>
      <div style="margin: 1rem 0">

        <mat-form-field class="w-100" style="width: 100%" appearance="outline">
          <mat-label>Chercher via le nom d'un acheteur</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 aria-label="Acheteur"
                 matInput
                 [formControl]="buyerNameCtrl"
                 [matAutocomplete]="autoB">
          <mat-autocomplete #autoB="matAutocomplete" (selectionchange)="onChangeB($event)" [displayWith]="displayFnB">
            <mat-option *ngIf="isLoadingB" class="is-loading">
              <mat-spinner diameter="20"></mat-spinner>
            </mat-option>
            <ng-container *ngIf="!isLoadingB">
              <mat-option
                (click)="onChangeB(option)"
                *ngFor="let option of filteredOptionsB"
                [value]="option">
                <div
                  style="width: 100%;
                  overflow: hidden">
                  <span style="font-size: small">
                    id:
                    <b>{{ option.id }}</b>
                  </span>
                  <span style="color: #666; font-size: small; padding-right: .3rem; font-style: italic">
                    {{ option.name }}
                </span>
                  <span *ngIf="option.phoneNumber && option.phoneNumber.length > 4">
                    <em>Tèl</em>: {{ option.phoneNumber }}
                </span>
                </div>
              </mat-option>
            </ng-container>
          </mat-autocomplete>
        </mat-form-field>

        <table
          matSort
          style="width: 100%"
          mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="selectForAction">
            <th mat-header-cell *matHeaderCellDef >
              Sélectionner tout
              <br>
              <mat-checkbox ngDefaultControl
                            [checked]="removeAllBuyers"
                            (change)="onChangeStateBuyer($event, null, true)"
              ></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let buyer">
              <mat-checkbox ngDefaultControl [value]="buyer.id"
                            [checked]="buyer.isSelectedToRemove"
                            (change)="onChangeStateBuyer($event, buyer)"
              ></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Nom Prénom
            </th>
            <td mat-cell *matCellDef="let buyer">
              {{ buyer.name | titlecase}}
            </td>
          </ng-container>

          <ng-container matColumnDef="amountOfferProposed">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Offre en CHF
            </th>
            <td mat-cell *matCellDef="let buyer">
              <!-- <ng-container *ngIf="buyer.amountOffer && +buyer.amountOffer > 0 else amountNone"> -->
                <span *ngIf="buyer.amountOffer"
                >{{ buyer.amountOffer | mask: 'separator':'.'  }}.-</span>
              <span *ngIf="!buyer.amountOffer">
                --
              </span>
              <!-- </ng-container>
              <ng-template #amountNone >
                <span>--</span>
              </ng-template> -->
            </td>
          </ng-container>


          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Email
            </th>
            <td mat-cell *matCellDef="let buyer">
              {{ buyer.email }}
            </td>
          </ng-container>

          <ng-container matColumnDef="localisation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Localisation
            </th>
            <td mat-cell *matCellDef="let buyer">
              {{ buyer.country }} {{ buyer.city }}
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Template Email</th>
            <td mat-cell *matCellDef="let buyer">
              <button mat-raised-button color="primary" style="margin-right: .5rem">
                <mat-icon (click)="openEmail(buyer)" >edit_outline</mat-icon>
              </button>
              <button color="warn" mat-raised-button>
                <mat-icon>
                  highlight_off
                </mat-icon>
              </button>
            </td>
          </ng-container>
          <ng-container matColumnDef="removeBuyer">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              Sup. de la liste
            </th>
            <td mat-cell *matCellDef="let buyer">
              <button mat-raised-button color="warn" (click)="onRemoveBuyer(buyer.id)">
                <mat-icon  style="color: white">cancel</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
          ></tr>
        </table>
      </div>
      <div style="display: flex; justify-content: space-between;  margin-bottom: 20px;">
        <button mat-raised-button color="warn" (click)="onRemoveBuyer(0, true)" [disabled]="!buyerToRemove.length">
          Sup. tous les Acheteurs sélectionnés
        </button>
        <button mat-raised-button color="primary" matStepperNext >Suivant</button>
      </div>
    </mat-step>
    <mat-step >
      <ng-template matStepLabel>Acheteurs potentiels</ng-template>
      <table
        matSort
        style="width: 100%"
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="selectForAction">
          <th mat-header-cell *matHeaderCellDef >
            Sélectionner tout
            <br>
            <mat-checkbox ngDefaultControl
                          [checked]="removeAllBuyers"
                          (change)="onChangeStateBuyer($event, null, true)"
            ></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let buyer">
            <mat-checkbox ngDefaultControl [value]="buyer.id"
                          [checked]="buyer.isSelectedToRemove"
                          (change)="onChangeStateBuyer($event, buyer)"
            ></mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="fullname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Nom Prénom
          </th>
          <td mat-cell *matCellDef="let buyer">
            {{ buyer.name | titlecase}}
          </td>
        </ng-container>

        <ng-container matColumnDef="amountOfferProposed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Offre en CHF
          </th>
          <td mat-cell *matCellDef="let buyer">
           <!-- <ng-container *ngIf="buyer.amountOffer && +buyer.amountOffer > 0 else amountNone"> -->
              <mat-form-field class="w-100" appearance="outline">
                <mat-label></mat-label>
                <input
                  type="text"
                  mask="separator"
                  thousandSeparator=" "
                  [(ngModel)]="buyer.amountOffer"
                  suffix=".-"
                  matInput/>
              </mat-form-field>
            <!-- </ng-container>
            <ng-template #amountNone >
              <span>--</span>
            </ng-template> -->
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Email
          </th>
          <td mat-cell *matCellDef="let buyer">
            {{ buyer.email }}
          </td>
        </ng-container>

        <ng-container matColumnDef="localisation">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Localisation
          </th>
          <td mat-cell *matCellDef="let buyer">
            {{ buyer.country }} {{ buyer.city }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Template Email</th>
          <td mat-cell *matCellDef="let buyer">
            <button mat-raised-button color="primary" style="margin-right: .5rem">
              <mat-icon (click)="openEmail(buyer)" >edit_outline</mat-icon>
            </button>
            <button color="warn" mat-raised-button>
              <mat-icon>
                highlight_off
              </mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="removeBuyer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Sup. de la liste
          </th>
          <td mat-cell *matCellDef="let buyer">
            <button mat-raised-button color="warn" (click)="onRemoveBuyer(buyer.id)">
              <mat-icon  style="color: white">cancel</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsBuyers"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumnsBuyers"
        ></tr>
      </table>
      <button mat-raised-button color="primary" (click)="onSubmit()">Envoyer</button>
    </mat-step>
  </mat-horizontal-stepper>
</div>
