<mat-dialog-content>
  <section class="w-100 overflow-hidden">
    <div class="container-fluid">
      <div class="row">
        <div style="margin-top: .5rem" class="col-md-12">
          <div class="d-flex w-100" style="justify-content: space-between; align-items: center">
            <div>
              <h5 class="text-capitalize">évènement</h5>
            </div>
            <div>
              <button mat-raised-button style="float: right" (click)="onRemoveEvent()" color="warn">Supprimer</button>
            </div>
          </div>
        </div>
      </div>
      <span
      style="display: block; margin-bottom: .5rem; color: #666666; font-size: .55rem; font-style: italic; font-weight: 300">prévu le {{ dateEvent.start }} au {{ dateEvent.end }}  </span>
      <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Message</mat-label>
          <textarea matInput
                    formControlName="message">
          </textarea>
        </mat-form-field>
        <mat-form-field style="width: 100%" appearance="outline">
          <mat-label>Priorité</mat-label>
          <mat-select placeholder="Priorité"
                      [value]="crmConstants.CODE_COLOR_EVENT_DEFAULT"
                      formControlName="color">
            <mat-option [value]="crmConstants.CODE_COLOR_EVENT_DEFAULT">Normal</mat-option>
            <mat-option [value]="'red'">Importante</mat-option>
          </mat-select>
        </mat-form-field>

        <div style="display: flex; width: 100%; justify-content: space-between">
          <button type="submit" [disabled]="eventForm.invalid" mat-raised-button color="primary">
            OK
          </button>
          <button (click)="dialogRef.close(false)" mat-raised-button color="accent">
            Annuler
          </button>
        </div>
      </form>
    </div>
  </section>
</mat-dialog-content>
