<section style="width: 100%; overflow: hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div
            style="background: url('assets/images/brec-bg.jpg') no-repeat top left;background-size: cover;height: 200px"  class="card-header">
          </div>
          <div class="card-body">
            <div style="display: flex; justify-content: space-between">
              <div>
                <h5>Closing</h5>
              </div>
              <div>
                <em style="color: #666666; font-size: small">15/12/2025</em>
              </div>
            </div>
            <ul style="margin-left: 0; padding-left: 0; font-size: small">
              <li><span>Vente  </span><b>2000000CHF</b></li>
              <li><span>Commission  </span><b>20000CHF</b></li>
              <li><span>Collaborateur  </span><b>Ermes</b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
