<section class="w-100 overflow-hidden">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <table
          matSort
          style="width: 100%"
          mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z8"
        >
          <ng-container matColumnDef="id">
            <th mat-header-cell class="" *matHeaderCellDef mat-sort-header>
              id
            </th>
            <td mat-cell *matCellDef="let stories">
              {{ stories.id}}
            </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell class="" *matHeaderCellDef mat-sort-header>
              Collaborateur
            </th>
            <td mat-cell *matCellDef="let stories">
              {{ stories.collaboratorEmail }}
            </td>
          </ng-container>
          <ng-container matColumnDef="action">
            <th mat-header-cell class="" *matHeaderCellDef mat-sort-header>
              Action
            </th>
            <td mat-cell *matCellDef="let stories">
              <div style="font-size: small" [innerHTML]="stories.action">

              </div>

            </td>
          </ng-container>
          <ng-container matColumnDef="dateAction">
            <th mat-header-cell class="" *matHeaderCellDef mat-sort-header>
              date
            </th>
            <td style="padding-right: 2rem; white-space: nowrap" mat-cell *matCellDef="let stories">
              {{ stories.dateActionStr}}
            </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
        </table>
      </div>
    </div>
  </div>
</section>
