<mat-toolbar style="background: #1d1d1d !important;" color="primary">
    <mat-toolbar-row>
        <span style="">B R E C</span>
        <span class="example-spacer"></span>

        <form class="example-form">
            <mat-form-field style="font-size: small; margin-top: .25rem;">
                <input type="text"
                       placeholder="Rechercher"
                       aria-label="Number"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto">
                <button mat-button *ngIf="myControl.valueChanges" matSuffix mat-icon-button aria-label="Clear" (click)="myControl.setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav style="width: 230px; text-align: center" mode="side" opened #sidenav>
      <div style="width: 100%; overflow: hidden; background: url(assets/images/bg_vector.jpg) top left no-repeat; background-size: cover; padding: 1rem">
        <div class="wrapper-img-top-left">
          <img src="assets/images/building_brec_header.jpg"  alt="building" height="100%">
          <div class="cover-bg-opaque">
          </div>
        </div>
        <div>
          <h6 style="
          margin-bottom: 0;
          margin-top: .5rem;
        ">LITIB Mohamed</h6>
          <span style="font-size: small">mohamed.litib@brec.com</span>
        </div>
      </div>
      <div class="role-user">ADMINISTRATEUR</div>
      <mat-nav-list style="text-align: center">
        <a mat-list-item [routerLink]="'/dashboard/overview'">
          <div style="display: flex;width: 100%;justify-content: space-between;">
            <div class="">
              <span class="material-icons">
                assessment
              </span>
            </div>
            <div class="" style="text-align: center; align-self: center">Vue Globale</div>
            <div style="align-self: center;">
              <span style=" right: 0" class="badge badge-warning">4</span>
            </div>
          </div>
        </a>
        <a mat-list-item [routerLink]="'/dashboard/ads'">
          <div style="display: flex;width: 100%;justify-content: space-between;">
            <div class="">
              <span class="material-icons material-icons-outlined">
                assessment
              </span>
            </div>
            <div class="" style="text-align: center; align-self: center">Annonces</div>
            <div style="align-self: center;">
              <span style=" right: 0" class="badge badge-warning">4</span>
            </div>
          </div>
        </a>
        <a mat-list-item [routerLink]="'/dashboard/contacts'">
          <div style="display: flex;width: 100%;justify-content: space-between;">
            <div class="">
              <span class="material-icons">
                assessment
              </span>
            </div>
            <div class="" style="text-align: center; align-self: center">Contacts</div>
            <div style="align-self: center;">
              <span style=" right: 0" class="badge badge-warning">4</span>
            </div>
          </div>
        </a>
        <a mat-list-item [routerLink]="'/dashboard/users'">
          <div style="display: flex;width: 100%;justify-content: space-between;">
            <div class="">
              <span class="material-icons">
                assessment
              </span>
            </div>
            <div class="" style="text-align: center; align-self: center">Membres</div>
            <div style="align-self: center;">
              <span style=" right: 0" class="badge badge-warning">4</span>
            </div>
          </div>
        </a>
        <a mat-list-item [routerLink]="'/activities'">
          <div style="display: flex;width: 100%;justify-content: space-between;">
            <div class="">
              <span class="material-icons">
                assessment
              </span>
            </div>
            <div class="" style="text-align: center; align-self: center">Activités</div>
            <div style="align-self: center;">
              <span style=" right: 0" class="badge badge-warning">4</span>
            </div>
          </div>
        </a>
        <button mat-list-item (click)="sidenav.toggle()"  mat-list-item>Close</button>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh; padding: 1.5rem; background: #f3f3f3">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

