<mat-toolbar style="background: #212121 !important;color: white;">
    <mat-toolbar-row>
        <span class="material-icons-outlined" (click)='opened=!opened' style="margin-right: 20px; cursor: pointer;">
        menu
        </span>
        <span style="">B R E C</span>
        <span class="example-spacer"></span>
        <form class="example-form" style="margin-right: 25px;">
            <mat-form-field style="font-size: small; margin-top: .25rem; ">
              <input class="search"

                       type="search"
                       placeholder="Rechercher"
                       aria-label="Number"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto"
                       color="black"/>
                <button mat-button *ngIf="myControl.valueChanges" matSuffix mat-icon-button aria-label="Clear" (click)="myControl.setValue('')">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>


        </form>
        <!--<mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>-->
        <div class="icons">
          <span class="material-icons-outlined">
          language
          </span>
          <span class="material-icons-outlined">
          fullscreen_exit
          </span>
          <span matBadge="5" matBadgeColor="accent" class="material-icons-outlined">
            notifications
            </span>
            <span class="material-icons-outlined" (click)="logout()">
          logout
          </span>
          </div>

    </mat-toolbar-row>
</mat-toolbar>
<mat-divider></mat-divider>
  <mat-sidenav-container style="background-color: #F5F5F5;">
    <mat-sidenav style="width: 290px; text-align: center;" mode="side" [(opened)]="opened">
      <div style="width: 100%; overflow: hidden; background:url(assets/images/bg_vector.jpg) top left no-repeat; background-size: cover; padding: 1rem">
        <div class="wrapper-img-top-left">
          <img src="assets/images/building_brec_header.jpg"  alt="building" height="100%">
          <div class="cover-bg-opaque">
          </div>
        </div>
        <div>
          <h6 style="
          margin-bottom: 0;
          margin-top: .5rem;
        ">{{autService.loggedUserName}}</h6>
          <span style="font-size: small">{{autService.loggedUserMail}}</span>
        </div>
      </div>
      <!--<div class="list" *ngIf="admin">-->
        <div class="list">

        <div class="role-user">{{autService.loggedUserRole | uppercase}}</div>
        <mat-nav-list style="text-align: center">
          <a mat-list-item [routerLink]="'/dashboard/overview'" routerLinkActive="active">
            <div style="display: flex;width: 100%;justify-content: space-between;">
              <div class="">
                <span class="material-icons-outlined">
                  visibility
                  </span>
              </div>
              <div class="" style="text-align: center; align-self: center">Vue Globale</div>
              <div style="align-self: center;">

              </div>
            </div>
          </a>
          <a mat-list-item [routerLink]="'/dashboard/ads'" routerLinkActive="active">
            <div style="display: flex;width: 100%;justify-content: space-between;">
              <div class="">
                <span class="material-icons-outlined">
                  note_add
                  </span>
              </div>
              <div class="" style="text-align: center; align-self: center">Offres</div>
              <div style="align-self: center;">

              </div>
            </div>
          </a>
          <a mat-list-item [routerLink]="'/dashboard/contacts'" routerLinkActive="active">
            <div style="display: flex;width: 100%;justify-content: space-between;">
              <div class="">
                <span class="material-icons-outlined">
                  support_agent
                  </span>
              </div>
              <div class="" style="text-align: center; align-self: center">Acheteurs</div>
              <div style="align-self: center;">

              </div>
            </div>
          </a>
          <a mat-list-item [routerLink]="'/dashboard/sales'" routerLinkActive="active">
            <div style="display: flex;width: 100%;justify-content: space-between;">
              <div class="">
                <span class="material-icons-outlined">
                  groups
                  </span>
              </div>
              <div class="" style="text-align: center; align-self: center">Prospects</div>
              <div style="align-self: center;">

              </div>
            </div>
          </a>
          <a mat-list-item [routerLink]="'/dashboard/calendar'" routerLinkActive="active">
            <div style="display: flex;width: 100%;justify-content: space-between;">
              <div class="">
                <span class="material-icons-outlined">
                  event
                  </span>
              </div>
              <div class="" style="text-align: center; align-self: center">Calendrier</div>
              <div style="align-self: center;">

              </div>
            </div>
          </a>
          <a mat-list-item [routerLink]="'/dashboard/task'" routerLinkActive="active">
            <div style="display: flex;width: 100%;justify-content: space-between;">
              <div class="">
                <span class="material-icons-outlined">
                  task
                  </span>
              </div>
              <div class="" style="text-align: center; align-self: center">Gestion des tâches</div>
              <div style="align-self: center;">

              </div>
            </div>
          </a>


          <a mat-list-item [routerLink]="'/dashboard/gant'" routerLinkActive="active">
            <div style="display: flex;width: 100%;justify-content: space-between;">
              <div class="">
                <span class="material-icons-outlined">
                  bar_chart
                </span>
              </div>
              <div class="" style="text-align: center; align-self: center">Activités</div>
              <div style="align-self: center;">

              </div>
            </div>
          </a>



          <a mat-list-item [routerLink]="'/dashboard/billing'" routerLinkActive="active">
            <div style="display: flex;width: 100%;justify-content: space-between;">
              <div class="">
                <span class="material-icons-outlined">
                  payment
                  </span>
              </div>
              <div class="" style="text-align: center; align-self: center">Facturation</div>
              <div style="align-self: center;">

              </div>
            </div>
          </a>
          <a mat-list-item [routerLink]="'/dashboard/users'" routerLinkActive="active">
            <div style="display: flex;width: 100%;justify-content: space-between;">
              <div class="">
                <span class="material-icons-outlined">
                  groups
                  </span>
              </div>
              <div class="" style="text-align: center; align-self: center">Membres</div>
              <div style="align-self: center;">

              </div>
            </div>
          </a>
          <a mat-list-item [routerLink]="'/dashboard/members'" routerLinkActive="active">
            <div style="display: flex;width: 100%;justify-content: space-between;">
              <div class="">
                <span class="material-icons-outlined">
                  rule
                  </span>
              </div>
              <div class="" style="text-align: center; align-self: center">Gestion des droits</div>
              <div style="align-self: center;">

              </div>
            </div>
          </a>
          <!--<button  mat-list-item (click)="sidenav.toggle()"  mat-list-item><span class="material-icons-outlined" style="text-align: center;">
            close
            </span></button>-->

        </mat-nav-list>
      </div>
      <!--<div class="list" *ngIf="secretaire">

        <div class="role-user">{{autService.loggedUserRole | uppercase}}</div>
        <mat-nav-list style="text-align: center">

          <a mat-list-item [routerLink]="'/dashboard/overview'" routerLinkActive="active">
            <div style="display: flex;width: 100%;justify-content: space-between;">
              <div class="">
                <span class="material-icons-outlined">
                  visibility
                  </span>
              </div>
              <div class="" style="text-align: center; align-self: center">Vue Globale</div>
              <div style="align-self: center;">

              </div>
            </div>
          </a>



          <a mat-list-item [routerLink]="'/dashboard/ads'" routerLinkActive="active">
            <div style="display: flex;width: 100%;justify-content: space-between;">
              <div class="">
                <span class="material-icons-outlined">
                  note_add
                  </span>
              </div>
              <div class="" style="text-align: center; align-self: center">Annonces</div>
              <div style="align-self: center;">

              </div>
            </div>
          </a>
          <a mat-list-item [routerLink]="'/dashboard/contacts'" routerLinkActive="active">
            <div style="display: flex;width: 100%;justify-content: space-between;">
              <div class="">
                <span class="material-icons-outlined">
                  support_agent
                  </span>
              </div>
              <div class="" style="text-align: center; align-self: center">Collaborateurs</div>
              <div style="align-self: center;">

              </div>
            </div>
          </a>
          </mat-nav-list>
      </div>-->
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh; padding: 1.5rem;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

