.container-file {
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #f6f6f6;
  margin-bottom: .5rem;
  align-items: center;
}

.file-container {
  padding: .5rem;
  border: 1px solid #f6f6f6;
}
