/* You can add global styles to this file, and also import other style files */
/*@import "~@angular/material/theming";

@include mat-core();

$mytheme-primary: mat-palette($mat-blue);
$mytheme-accent: mat-palette($mat-purple);
$mytheme-warn: mat-palette($mat-red);

$mytheme-theme: mat-light-theme(
  (
    color: (
      primary: $mytheme-primary,
      accent: $mytheme-accent,
      warn: $mytheme-warn
    )
  )
);

@include angular-material-theme($mytheme-theme);*/
/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; font-family: Roboto, sans-serif;}
body {
  margin: 0;
}
mat-sidenav-container{
  ::-webkit-scrollbar{
    width: 5px;
  }
  ::-webkit-scrollbar-track{
   background-color: transparent;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #bdbdbd;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: #9E9E9E;
  }
}
mat-sidenav{
  ::-webkit-scrollbar{
    width: 5px;
  }
  ::-webkit-scrollbar-track{
   background-color: transparent;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #e0e0e0;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: #9E9E9E;
  }
}
/*mat-dialog-content{
  ::-webkit-scrollbar{
    width: 10px;
  }
  ::-webkit-scrollbar-track{
   background-color: transparent;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #e0e0e0;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-color: #bdbdbd;
  }
}*/
.card  {
  position: relative;
  margin-bottom: 24px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  border-radius: 5px;
  border: none;
}

.card-heading {
  position: relative;
  padding: 20px 24px;
}

.card-heading h2 {
  margin: 0;
  font-size: 18px;
}

.card-heading small {
  display: block;
  margin-top: 8px;
  opacity: .5;
}

.mini-card {
  margin-bottom: .8rem;
  padding: 1rem;
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  border-radius: 0;
  border: none;
  border-left: 2px solid #2abcf3;

  cursor: pointer;

  &:hover {
    background: #E9EBEB;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


.w-100 {
  width: 100% !important;
}

.overflow-hidden{
  overflow: hidden !important;
}


.d-flex {
  display: flex !important;
}


.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none !important;
}

.card {
  box-shadow: none !important;
}


.no-padding > .mat-form-field-wrapper {
  padding: 0.5rem !important;
}

.mat-paginator-container {
  justify-content: center !important;
}
