<!--<h1 mat-dialog-title>Ajouter ou modifier une annonce</h1>-->
<div mat-dialog-content>
  <mat-horizontal-stepper
    style="background-color: RGB(245, 245, 245)"
    [linear]="true"
    #stepper
  >
    <mat-step [stepControl]="globalForm">
      <form [formGroup]="globalForm">
        <ng-template matStepLabel>Description</ng-template>
        <div
          class="form-group"
          style="padding-top: 35px; border-bottom: solid 9px white"
          formGroupName="description"
        >
        <h6>Contact</h6>
        <mat-form-field
          appearance="outline"
        >
          <mat-label>Nom</mat-label>
          <input type="text" matInput formControlName="contactLastName"/>
        </mat-form-field>
        <mat-form-field appearance="outline" >
          <mat-label>Prénom</mat-label>
          <input type="text" matInput formControlName="contactName"/>
        </mat-form-field>
        <h6>Annonce</h6>
          <mat-form-field appearance="outline"
            ><mat-label>Titre de l'annonce</mat-label>
            <input
              type="text"
              autocomplete="off"
              matInput
              formControlName="title"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-select placeholder="Typologie immeuble" formControlName="type">
              <mat-option value="logements">Logements</mat-option>
              <mat-option value="bureaux">Bureaux</mat-option>
              <mat-option value="commerces"
                >Commerces/Centres commerciaux</mat-option
              >
              <mat-option value="industriel"
                >Industriel/Logistique/Artisanal</mat-option
              >
              <mat-option value="hotel">Hôtel/ApartHotel</mat-option>
              <mat-option value="centres médicaux"
                >Cliniques/EMS/Hôpital</mat-option
              >
            </mat-select>
          </mat-form-field>

          <!--<h5>Informations contact</h5>

            <mat-form-field appearance="outline">
            <mat-label>Nom de société</mat-label>
            <input type="text" matInput formControlName="contactSocity" />
          </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input type="text" matInput formControlName="contactLastName" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Prénom</mat-label>
            <input type="text" matInput formControlName="contactName" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Numéro</mat-label>
            <input type="text" matInput formControlName="contactNumber" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="contactMail" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Adresse</mat-label>
            <input type='text' matInput formControlName="contactAdress" matInput/>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Ville</mat-label>
            <input type='text' matInput formControlName="contactCity" matInput/>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Pays</mat-label>
            <input type='text' matInput formControlName="contactCountry" matInput/>
          </mat-form-field>-->
          <!----<mat-form-field appearance="outline">
            <mat-select placeholder="Type de vente" formControlName="type">
              <mat-option value="Achat">Achat</mat-option>
              <mat-option value="Location">Location</mat-option>
              <mat-option value="Vacances">Vacances</mat-option>
            </mat-select>
          </mat-form-field>-->

          <!--<mat-form-field appearance="outline">
          <mat-select placeholder="Categorie de bien" formControlName="category">
              <mat-option value="Maison">Maison</mat-option>
              <mat-option value="Appartement">Appartement</mat-option>
              <mat-option value="Terrain">Terrain</mat-option>
              <mat-option value="parking/garage">Parking/Garage</mat-option>
              <mat-option value="Immeuble">Immeuble</mat-option>
              <mat-option value="bureaux">Bureaux et locaux</mat-option>
              <mat-option value="fond de commerce">Fond de commerce</mat-option>
              <mat-option value="chalet">Chalet</mat-option>
              <mat-option value="mobile home">Mobile home</mat-option>
              <mat-option value="péniche">Péniche</mat-option>
            </mat-select>
          </mat-form-field>-->
          <!--<mat-form-field class="example-chip-list">
            <mat-chip-list #tagList aria-label="Catégorie">
              <mat-chip
                *ngFor="let tag of tags"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(tag)"
              >
                {{ tag }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Catégorie de bien"
                [matAutocomplete]="auto"
                [matChipInputFor]="tagList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)"
              />
            </mat-chip-list>
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selected($event)"
            >
              <mat-option
                *ngFor="let tag of filteredTags | async"
                [value]="tag"
              >
                {{ tag.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>-->
          <!--<mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea formControlName="comment" matInput></textarea>
          </mat-form-field>-->
          <h6>Spécificités du bien</h6>
          <mat-form-field appearance="outline">
            <mat-label>Prix de vente</mat-label>
            <input
              class="example-right-align"
              type="number"
              autocomplete="off"
              matInput
              formControlName="sellingPrice"
            />
            <!--<span matPrefix style="">CHF</span>
              <span matSuffix><mat-slide-toggle formControlName="show_amount">Afficher</mat-slide-toggle></span>-->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Etat locatif</mat-label>
            <input
              class="example-right-align"
              type="number"
              autocomplete="off"
              matInput
              formControlName="rentalStatus"
            />
            <span matPrefix style="">CHF</span>


          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Rendement en %</mat-label>
            <input type="number" [disabled]="true"
                   matInput
                   formControlName="yield"  />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Observations</mat-label>
            <textarea formControlName="comment" matInput></textarea>
          </mat-form-field>

          <h6>Localisation du bien</h6>

          <mat-form-field appearance="outline">
            <mat-label>adresse</mat-label>
            <input type="text" matInput formControlName="street" />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Ville</mat-label>
            <input type="text" matInput formControlName="city" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Code postal</mat-label>
            <input type="number" matInput formControlName="zipcode" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Pays</mat-label>
            <input type="text" matInput formControlName="country" />
          </mat-form-field>
        </div>

        <!--<div formArrayName="tags">
              <button (click)="add('tag')" mat-raised-button color="accent">Ajouter un tag</button>
              <div *ngFor="let tag of tags.controls; let i=index">
                  The repeated alias template
                  <mat-form-field>
                      <mat-label>Tag</mat-label>
                      <input matInput [formControlName]="i">
                  </mat-form-field>
              </div>
          </div>--->

        <!--<mat-form-field class="example-full-width">
              <input type="text"
                     placeholder="Pick one"
                     aria-label="Number"
                     matInput
                     [formControl]="myControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>-->

        <!---- <div style="width: 100%;display:flex; justify-content: space-around">
            <div style="margin-bottom: 1rem">
              <mat-slide-toggle formControlName="published">Publié</mat-slide-toggle>
            </div>
            <div style="margin-bottom: 1rem">
              <mat-slide-toggle formControlName="sold">Vendu</mat-slide-toggle>
            </div>
          </div>-->

        <!---- <div class="form-group" style="border-bottom: solid 9px white" formGroupName="location">
            <h5>Localisation du bien</h5>
            <mat-form-field appearance="outline">
              <mat-label>Adresse</mat-label>
                <input autocomplete="off" formControlName="street" matInput type="text"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label >Ville</mat-label>
              <input autocomplete="off" formControlName="city" matInput type="text"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Pays</mat-label>
              <input autocomplete="off" formControlName="country" matInput type="text"/>
            </mat-form-field>
           <mat-form-field appearance="outline">
              <mat-label >Code Postal</mat-label>
              <input autocomplete="off" formControlName="zipcode" matInput type="number"/>
            </mat-form-field>

        </div>

        <div class="form-group" style="border-bottom: solid 9px white" formGroupName="characteristics">
          <h5>Caractéristiques</h5>
          <mat-form-field floatPlaceholder="always">
            <mat-label>Superficie</mat-label>
            <input autocomplete="off" formControlName="area" matInput type="number" class="example-right-align" value="{{ superficie }}"/>
            <div>
              <mat-slider [(ngModel)]="superficie" min="0" max="1000" step="10" thumbLabel="true" formControlName="area">
              </mat-slider>
            </div>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Pièces</mat-label>
            <input autocomplete="off" formControlName="rooms" matInput type="number" class="example-right-align" value="{{ pieces }}"/>
            <div>
              <mat-slider [(ngModel)]="pieces" min="0" max="10" step="1" thumbLabel="true" formControlName="rooms"></mat-slider>
            </div>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Chambres</mat-label>
            <input autocomplete="off" formControlName="bedrooms" matInput type="number" class="example-right-align" value="{{ chambre }}"/>
            <div>
              <mat-slider [(ngModel)]="chambre" min="0" max="10" step="1" thumbLabel="true" formControlName="bedrooms"></mat-slider>
            </div>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Salle de bains</mat-label>
            <input autocomplete="off" formControlName="bathroom" matInput type="number" class="example-right-align" value="{{ bathroom }}"/>
            <div>
              <mat-slider [(ngModel)]="bathroom" min="0" max="10" step="1" thumbLabel="true" formControlName="bathroom"></mat-slider>
            </div>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Toilettes</mat-label>
              <input autocomplete="off" formControlName="wc" matInput type="number" class="example-right-align" value="{{ wc }}"/>
            <div>
              <mat-slider [(ngModel)]="wc" min="0" max="10" step="1" thumbLabel="true" formControlName="wc"></mat-slider>
            </div>
          </mat-form-field>
          <div style="margin-bottom: 1rem">
            <mat-slide-toggle formControlName="handicap_accessibility">Accès handicapé</mat-slide-toggle>
          </div>
        </div>-->
      </form>
      <div style="margin-top: 40px; text-align: right">
        <button
          [disabled]="globalForm.invalid"
          mat-raised-button
          color="primary"
          matStepperNext
        >
          Suivant
        </button>
      </div>
    </mat-step>
    <mat-step [stepControl]="docsForm">
      <form [formGroup]="docsForm">
        <ng-template matStepLabel>Ajout de photos</ng-template>
        <div class="wrapper-file-upload">
          <label id="selector-files" for="input-file-id">
            <span>Ajouter des fichiers </span>
            <span style="cursor: pointer" class="material-icons">
              attach_file
            </span>
          </label>
          <input
            class="ng-hide"
            (change)="onUploadFile($event)"
            accept="image/*"
            id="input-file-id"
            multiple
            type="file"

            formControlName="image"
          />
        </div>
        <div *ngIf="files.length > 0" class="display-filename mt-2 mb-2">
          <div
            style="display: flex; justify-content: space-between"
            *ngFor="let file of files"
          >
            <div>{{ file.fileUpload.name }}</div>
            <div
              (click)="onDeleteFile(file)"
              style="color: red; cursor: pointer"
            >
              <span class="material-icons"> close </span>
            </div>
          </div>
        </div>
        <div
          class="btn"
          style="
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
          "
        >
          <div>
            <button mat-raised-button matStepperPrevious>Précédent</button>
          </div>
          <div>
            <button
              [disabled]="docsForm.invalid"
              mat-raised-button
              color="primary"
              matStepperNext
              (click)="contactSort()"
            >
              Suivant
            </button>
          </div>
          <!--<div><button mat-raised-button color="primary" matStepperNext>Suivant</button></div>-->
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="contactForm">
      <form [formGroup]="contactForm">
        <ng-template matStepLabel>Ajout de contacts</ng-template>
        <!-- <mat-form-field>
          <mat-label>Email(s)</mat-label>
            <input
              autocomplete="off"
              matInput
              required>
           <mat-chip-list #chipList1 aria-label="Fruit selection">
              <mat-chip
                *ngFor="let email of emails"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(email.email, true)">
                {{email.email}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                placeholder="Nouveau mail de contact..."
                #fruitInput
                [formControl]="contactEmailCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList1"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="addContactEmail($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let email of filteredContactEmail | async" [value]="email">
                {{  email.email }}
              </mat-option>
            </mat-autocomplete>
        </mat-form-field>-->
        <div
          class="form-group"
          style="border-bottom: solid 9px white;padding-top: 35px;"
          formGroupName="contacts"
        >
          <div class="info">

            <h6>Ajouter un évènement</h6>

            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label >Note</mat-label>
              <textarea  placeholder="Ajouter un évènement ou un rappel" matInput (keypress)="attach()" formControlName="noteEvent"></textarea>
            </mat-form-field>

            <div *ngIf="event">
              <mat-form-field appearance="fill">
                <mat-label>Choisissez une date</mat-label>
                <input autocomplete="off" matInput [matDatepicker]="picker" formControlName="dateEvent">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Choisissez une horraire</mat-label>
                <input  autocomplete="off" [ngxTimepicker]="pickerTime" matInput  formControlName="timeEvent"/>
                <ngx-material-timepicker #pickerTime [theme]="oktTheme"></ngx-material-timepicker>
              </mat-form-field>
            </div>



            <!--<input [ngxTimepicker]="picker">-->


            <h6>
              Envoyer cette annonce aux contacts suivants
            </h6>
            <mat-form-field>
              <mat-label>Emails</mat-label>
              <mat-chip-list #chipList aria-label="Contact selection">
                <mat-chip
                  *ngFor="let contact of contactEmails"
                  [selectable]="selectable"
                  [removable]="removable"
                  (removed)="remove(contact)"
                >
                  {{ contact.email }}

                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>

                <input

                  matInput
                  type="text"
                  [(ngModel)]="search"
                  placeholder="new email..."
                  #contactInput
                  [formControl]="contactCtrl"
                  [matAutocomplete]="auto"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="add($event)"


                  formControlName="emails"
                />

                <mat-autocomplete
                  #auto="matAutocomplete"
                  (optionSelected)="selected($event)"
                >
                  <!--<mat-option *ngFor="let option of filteredOption | async" [value]="option">-->
                  <mat-option
                    *ngFor="
                      let contact of contactss | filter: search;
                      let index = index
                    "
                    [value]="contact"
                  >
                    {{ contact.email }}
                  </mat-option>
                </mat-autocomplete>
              </mat-chip-list>
            </mat-form-field>
            <div>
              <!--<mat-form-field appearance="fill">
                <mat-label>Rechercher</mat-label>
                <input
                  type="text"
                  (keyup)="updateFilter($event.target.value)"
                  matInput
                />
              </mat-form-field>-->

              <table
                matSort
                style="width: 100%"
                mat-table
                [dataSource]="dataSource"
                class="mat-elevation-z8"
              >
                <ng-container matColumnDef="fullname">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Nom Prénom
                  </th>
                  <td mat-cell *matCellDef="let contact">
                    {{ contact.lastName }} {{ contact.name }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Email
                  </th>
                  <td mat-cell *matCellDef="let contact">
                    {{ contact.email }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="criteres">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Critères
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let contact"
                    style="color: yellowgreen"
                  >
                    {{ contact.criteriasBind }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="localisation">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Localisation
                  </th>
                  <td mat-cell *matCellDef="let contact">
                    {{ contact.country }} {{ contact.city }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Template Email</th>
                  <td mat-cell *matCellDef="let contact">
                    <button mat-icon-button>
                      <mat-icon (click)="openEmail()" >edit_outline</mat-icon>
                    </button>

                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
            </div>

            <!---- <div class="text-center"><small class="text-center" style="color: #ccc">
            <em>Il s'agit d'un nouveau contact ? Remplissez les champs ci dessous</em></small>
          </div>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Nom</mat-label>
          <input autocomplete="off" formControlName="lastName" matInput type="text"/>
        </mat-form-field>
         <mat-form-field appearance="outline">
          <mat-label>Prénom</mat-label>
            <input autocomplete="off" formControlName="name" matInput type="text"/>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Tél</mat-label>
            <input autocomplete="off" formControlName="phone_Number" matInput type="number"/>
          </mat-form-field>
          <mat-form-field class="example-chip-list"  appearance="outline">
          <mat-chip-list #chipListContact aria-label="Fruit selection">
            <mat-chip
              *ngFor="let contact of emails"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(contact.email, true)"
            >
              {{ contact.email }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="Emails"
              [matChipInputFor]="chipListContact"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event, 'new-contact')"
              formControlName="emails"
            />
          </mat-chip-list>
          </mat-form-field>
          <mat-selection-list
            style="margin-bottom: 2rem"
            #emailLists
            (selectionChange)="onGroupEmailChange(emailLists.selectedOptions.selected)">
            <mat-list-option *ngFor="let email of emails" [value]="email">
              {{ email.email }}
            </mat-list-option>
          </mat-selection-list>-->

            <div
              class="btn"
              style="
                margin-top: 40px;
                display: flex;
                justify-content: space-between;
              "
            >
              <div>
                <button
                  style="margin-right: 0.4rem"
                  mat-raised-button
                  matStepperPrevious
                >
                  Précédent
                </button>
              </div>
              <div>
                <button
                  (click)="openForm()"
                  mat-raised-button
                  color="accent"
                  style="margin-right: 15px"
                >
                  <mat-icon>add</mat-icon
                  >
                  contact
                </button>
                <button
                  type="button"
                  (click)="onSubmit()"
                  mat-raised-button
                  color="primary"
                >
                  Envoyer
                </button>
              </div>
            </div>
          </div>
        </div>


      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<!--<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>-->
