.mat-form-field + .mat-form-field {
  /*margin-left: 8px;*/
}

.mat-form-field {
  display: block;
}

.wrapper-file-upload > input {
  display: none;
}


.wrapper-file-upload {
  cursor: pointer;
  padding: .5rem;
  border-bottom: 1px dashed #8c9497;
}
.selector-files {
  cursor: pointer;
}
