<div class="card">
  <div class="card-heading">
    <h2 class="text-center">Gestion des collaborateurs</h2>
    <!--<h3 >{{ 'name'  | translate  }}</h3>-->
  </div>
</div>
<div style="margin-bottom: 15px;">
  <button mat-raised-button color="primary" (click)="openDialog()">
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">
      add
    </mat-icon>
    Ajouter
  </button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let member"> {{member.id}}</td>
  </ng-container>
  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let member"> {{member.lastname}} </td>
  </ng-container>
  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef> Prénom </th>
    <td mat-cell *matCellDef="let member">  {{member.firstname}}</td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let member"> {{member.email}} </td>
  </ng-container>
  <ng-container matColumnDef="roles">
    <th mat-header-cell *matHeaderCellDef> Rôle </th>
    <td mat-cell *matCellDef="let member">
      <ng-container *ngIf="(member.roles.join(', ')).includes(crmConstants.ROLE_SUPER_ADMIN); else person">
        <mat-icon>supervisor_account</mat-icon>
      </ng-container>
      <ng-template #person>
        <mat-icon>person</mat-icon>
      </ng-template>
    </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let member">
      <button mat-icon-button (click)="openDialog(member)" ><mat-icon>edit_outline</mat-icon></button>
      <button mat-icon-button color="warn" (click)="deleteMember(member.id)"><mat-icon>delete_outline</mat-icon></button>
      <button mat-icon-button color="accent" matTooltip="Réinitialiser le mot de passe" (click)="onInitPasswordMember(member.id)"><mat-icon>history_outline</mat-icon></button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
