.container-card{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cards{
  width: 200px;
}
mat-card{
  border-radius: 5px;
}
.rounded {
  border-radius: 100px !important;
}

.font-thin {
  font-weight: 300;
}

.text-muted {
  color: inherit;
  opacity: .5;
}


.no-border {
  border-color: transparent;
  border-width: 0;
}

.p-md {
  padding: 24px;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.panel-heading {
  padding: 16px 24px;
  border-radius: 3px 3px 0 0;
}

table {
  width: 100%;
}
