<section class="container-fluid" style="
background-color: #F5F5F5 ; padding: 3rem">
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="text-align: center;">
        <div class="card-heading" style="text-align: center;height: 85px;">
          <h2>Compte rendu</h2>
          <small>l'ensemble des activités sur le crm présent</small>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showSpinnerReminder"
       class="spinner-container"
       style="min-height: 15vh; display: flex; justify-content: center; align-items: center; width: 100%"
       >
    <mat-spinner [diameter]="20"></mat-spinner>
  </div>
  <div  *ngIf="reminders && reminders.length > 0" style="margin-bottom: 1rem" class="row">
    <div class="col-12">
      <h6 class="">Rappels</h6>
    </div>
    <div *ngFor="let reminder of reminders" class="col-3">
      <div style="width: 100%" class="cards">
        <mat-card style="border-radius: 5px; border-left: 3px solid #3f51b5; overflow: auto">
          <mat-card-header style="align-items: baseline; justify-content: space-between; margin: 0 !important;" class="d-flex card-header-style">
            <mat-card-title style="font-size: small">{{ reminder.subject }}</mat-card-title>
            <div style="align-items: baseline">
              <span style="font-size: x-small; font-style: italic; color: #666666">
                {{  reminder.remindAt | date : "dd/MM/yyyy" }}
              </span>
            </div>
          </mat-card-header>
          <mat-card-content style="text-align: left;">
            <p style="font-size: small; font-weight: bold; color:#c9c9c9;">{{ reminder.message }}</p>
            <div style="width: 100%; display: flex; justify-content: space-between; align-items: center">
              <div>
                <button style="float: right" mat-raised-button color="primary" (click)="onArchiveReminder(reminder)">
                  OK
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <hr>
  <div style="justify-content: space-between" class="d-flex">
    <h5>Rappel(s)</h5>
    <div>
      <button (click)="onAddReminder()" mat-raised-button color="primary">
      + Ajouter
      </button>
    </div>
  </div>
  <div class="row">
    <div *ngIf="!showSpinnerReminder && reminders && reminders.length == 0"  class="col-md-12">
      <h6>Aucun rappel</h6>
    </div>
  </div>
  <hr>
  <div  style="
    padding: .5rem;
    background: #f0f0f0;
    border-radius: 5px;">
    <div *ngIf="!showSpinnerStats" class="row">
      <div style="justify-content: space-between" class="col-12 d-flex align-items-center">
        <h6 class="">Statistiques</h6>
        <div>
          <mat-form-field style="padding: 1rem" *ngIf=" showListCollaborator && collaborators && collaborators.length > 0"
                          appearance="outline">
            <mat-label>Choix du collaborateur</mat-label>
            <mat-select (selectionChange)="onGetStatsByCollaboratorId()" placeholder="Collaborateur"
                        [value]="null"
                        [formControl]="collaboratorCtrl">
              <mat-option [value]="null">
                Mes stats
              </mat-option>
              <mat-option *ngFor="let collab of collaborators" [value]="collab.id">
                {{ collab.email }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div  class="row">
      <div *ngIf="showSpinnerStats"
           class="spinner-container"
           style="min-height: 5vh; display: flex; justify-content: center; align-items: center; width: 100%"
      >
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
      <div  class="col-md-3 mb-2">
        <div *ngIf="!showSpinnerStats" class="container-card">
          <div class="cards">
            <mat-card style="border-radius: 5px;">
              <mat-card-header style="justify-content: center">
                <mat-card-title>Vol. d'offre</mat-card-title>
              </mat-card-header>
              <mat-card-content style="text-align: center;">
                <p style="font-size: 2rem; font-weight: bold; color:RGB(59, 130, 246);">{{ stats.supplyVolume && (stats.supplyVolume).length > 0 ? stats.supplyVolume : 0 }}</p>
                <p style="color: RGB(59, 130, 246); font-size: large;">En CHF</p>

              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
        <div class="col-md-3 mb-2">
          <div class="cards">
            <mat-card style="border-radius: 5px;">
              <mat-card-header style="justify-content: center">
                <mat-card-title>Offre(s)</mat-card-title>
              </mat-card-header>
              <mat-card-content style="text-align: center;">
                <p style="font-size: 2rem; font-weight: bold; color:#f59e0b;">{{ stats && stats.nbOfferMade ? stats.nbOfferMade : 0 }}</p>
                <p style="color:#f59e0b; font-size: large;">Ouverte(s)</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
        <div class="col-md-3 mb-2">
          <div class="cards">
            <mat-card>
              <mat-card-header style="justify-content: center">
                <mat-card-title>C.A</mat-card-title>
              </mat-card-header>
              <mat-card-content style="text-align: center;">
                <p style="font-size: 2rem; font-weight: bold; color: RGB(239, 68, 68);"><!--{{ stats.nbVisit }}--> 0 </p>
                <p style="color: RGB(239, 68, 68); font-size: large;">En cours</p>
              </mat-card-content>
              <!--
                            <p style="text-align: center;">From yesterday</p>
              -->
            </mat-card>
          </div>
        </div>
        <div class="col-md-3 mb-2">
          <div class="cards">
            <mat-card>
              <mat-card-header style="justify-content: center">
                <mat-card-title>Vente(s)</mat-card-title>
              </mat-card-header>
              <mat-card-content style="text-align: center;">
                <p style="font-size: 2rem; font-weight: bold; color: RGB(34, 197, 94);">{{ stats && stats.nbOfferClosing ? stats.nbOfferClosing : 0 }}</p>
                <p style="color: RGB(34, 197, 94); font-size: large;">Offre(s) close(s)</p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12">
        <div *ngIf="turnover && statsChart && statsChart.turnover"
             style="display: flex; margin-top: 50px; justify-content: center;">
          <mat-card style="width: 100%;">
            <app-basic-chart
              [ca]="turnover"
              [turnover]="statsChart.turnover"
              [dates]="statsChart.dates"
            ></app-basic-chart>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</section>
